---
title: ARCAL RLA 5/051 DSS
layout: default
---
  <div id='map-bg'></div>

  <div id='map'> </div>

  <div id='frieze'></div>
  <div id='header'> 
    <a class='title' href='http://www-naweb.iaea.org/na/index.html'>Nuclear Science and Applications Laboratories, IAEA</a> 
    <a class="logo" href="http://www.iaea.org/"></a>
    <a class='subtitle' href='/'>Decision Support System</a> 
  </div>


  <div id='legend-panel' class='active'>
    <a class='icon close-legend' href='#'>Close</a>
  </div>

  <div class="our-data">
    <p class='explore'><a class='ourdata' href='#'>OUR DATA</a></p>
  </div>
  <a class='pull-tab-legend icon' href='#'>Open</a>
  <a class='icon about' href='#'>About</a>
  <a class='pull-tab icon' href='#'>Open</a>
  <div id='side-panel' class='active'>
    <a class='icon close' href='#'>Close</a>
    <a class='icon dropdown' href='#'>a</a>
    <input id="geo-filter" />
    <span class="explain"> Enter/Select site of interest </span>

    {% for narrative in site.categories.narrative %} 
      
      <span class='site-description {{narrative.geography}}'>{{narrative.content}}</span>
  
    {% endfor %} 

    <span class="explain"> Click below to turn on/off, click+drag to rearrange.</span>
    <div class='datalist'>
      <div id='onlayers'>
        <ul id='sortable'>
        </ul>
      </div>
      <div id='offlayers'>
        <ul id='layerlist'>
   
          {% for dataset in site.categories.data %}
   
          <li class='{{dataset.geography}} {{dataset.status}}' id='{{dataset.default-position}}'>
            <div class='layer-container'>
              <a class='layer-link' id='{{dataset.layer}}' href='#'>{{dataset.title}}</a>
              <a class='layer-arrow' href='#'>details</a>
            </div>
            <div class='detail'>
              <ul>
                <li class='clearfix'>
                  <div class='detail-name dl'>Download</div>
                  <div class='downloads clearfix detail-content'>
                    {% for download in dataset.downloads %}
                    <a href='{{download.link}}' class='download download-{{download.type | downcase}} clearfix'>
                    <span class='icon {{download.type | downcase}}'>{{download.type | capitalize}}</span>
                    <span class='button black'>{{download.type | capitalize}}</span>
                    </a>
                    {% endfor %}

                  </div>  
                </li>
                <li class='clearfix'>
                  <div class='detail-name'>Description</div><div class='detail-content'>{{dataset.description | markdownify}}</div>
                </li>
                <li class='clearfix'>
                  <div class='detail-name'>Last Updated</div><div class='detail-content'>{{dataset.updated}}</div>
                </li>
                <li class='clearfix'>
                  <div class='detail-name'>Source</div><div class='detail-bottom'>{{dataset.source | markdownify}}</div>
                  <div class='detail-name'>License</div><div class='detail-bottom'>{{dataset.license}}</div>
                </li>
              </ul>
            </div>
          </li>

          {% endfor %}

        </ul>
      </div>
    </div>
  </div>

  <div class='about-modal' style='display:none;'>
    <div class='about-content'>
      <h3>About the Site</h3>
      <p>ARCAL RLA 5/051 regional technical cooperation project brings together researchers from Latin America and Caribbean in the field of land degradation assessment through the measurement of environmental radionuclide inventories.</p>
      <p>In that context, a system offering project’s participants the opportunity to disseminate their work and datasets, to compile relevant external datasets and to clearly visualize them, plays a critical role in improving decision making as regards national and regional policies for soil conservation and environmental protection in the region. Furthermore, the geographical dimension and cross-cutting nature of issues involved in ecosystem management requires deploying a system focused on strong geospatial visualization capabilities. This site is such a platform whose main objective is to serve as Geographic Decision Support System in the field of soil erosion monitoring and conservation.   
      </p>
      <p class='about-video'><!--<iframe src="http://player.vimeo.com/video/40612546" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>--></p>
      <a href='#' class='icon about-close'>Close</a>
    </div>
  </div>

  <div class='ourdata-modal' style='display:none;'>
    <div class='ourdata-content'>
      <h3>Our Data</h3>
      <p>Describe RFN measurement process, purpose and objectives ...</p>
      <p>All maps are powered by <a href="http://www.mapbox.com">MapBox Hosting</a>. This site is built using a <a href="https://github.com/geoportal-arcal/DSS">public Github repository</a>.</p>
      <a href='#' class='icon ourdata-close'>Close</a>
    </div>
  </div>
